body {
   
}

.login-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

}

.register-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.vich-image img{
    max-width: 400px;
}